/* Ignacio Ramirez
    04-26-2023
    Lab 3 
    Color palette: #9D060D,#08080C,#6E3C0D,#F4DBD8
    */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #f4dbd8;
        font-size: 115%;
    }
    h1,h2,h3,h4{
        text-align: center;
        margin-top: .2em;
        margin-bottom: .4em;
    }
    header{
        border-bottom: solid #08080c;
        padding-top: .5em;
        padding-bottom: .5em;
    }
    header h1 {
        color: #9d060d;
        font-size: 200%;
        text-shadow: 1px 1px 5px #08080c;
        /* box-shadow: 2px 2px 2px 2px #08080C ; */
    }
    
    a:link{
    text-decoration: none;
    color: white;
    }
    a:visited {
    color:#6e3c0d ;
    }
    
    a:hover,a:focus {
        color: #9d060d;
    }
    img{
        height: 50px;
    }
    
    p {
        font-size: 100%;
        line-height: 120%;
        /* text-align: center; */
    }
    
    p::first-letter {
        color: #9d060d;
        font-size: x-large;
    }
    
    footer {
        text-align: center;
        border: dashed #08080c;
        padding-bottom: 1em;
        background-color: #08080c;
        color: #f4dbd8;
    }
    
    